body{
    background-image: url('./background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'vazir' , 'Courier New', Courier, monospace;
}

.glassBar{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.382);
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: column;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.title{
    color: rgb(0, 58, 182);
    margin-bottom: 1rem;
}

.selects{
    width: 15rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: none;
    color: rgb(182, 73, 0);
    outline: 2px solid rgb(182, 73, 0);
    padding-left: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.selects:focus{
    outline: 2px solid rgb(0, 58, 182);
    color: rgb(0, 58, 182);
}

.selectsBar{
    display: inherit;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 2rem;
}