* {
    margin: 0;
    padding: 0;
    font-family: "Vazir";
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-track {
    background: #44475A;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  main {
    width: 100%;
    min-height: 100vh;
    background-color: #282A36;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 0 0;
    gap: 10px;
  }
  h1{
    color: aqua;
  }